<%=link_to "regresar a inicio", buildings_path%>
<h1>Editando información del Edificio</h1>
<%=form_for @building do |f| %>
<%= render(:partial => "form", :locals => {:f => f})%>
<%= f.submit "Actualizar esta Información" %>
<button><%= link_to "Volver", :back %></button>
<%end%>
