<h1>Listado de Edificios</h1>
<table>
<tr>
<th> nombre de edificio </th>
<th> dirección</th>
<th> ciudad</th>
<th> acciones</th>
</tr>

<%@buildings.each do |building|%>
<tr>
    <td><%=building.nombre_edificio%></td>
    <td><%=building.direccion%></td>
    <td><%=building.ciudad%></td>
    <td>
    <button><%= link_to "Ver", building%></button>
    <button><%= link_to "Editar", edit_building_path(building)%></button>
    <button><%= link_to "Borrar", delete_building_path(building)%></button>
    </td>
</tr>
<% end %>
</table>
<button><%= link_to "Volver", :back %></button>
<%= link_to "Crear un nuevo Edificio", new_building_path%>
